extends ../../aalayout/layout

block content
	.container
		.row
			.col-8 品牌更新
			.col-4.text-right
				a.btn.btn-secondary(href="/bnPdthd/"+pdthd._id) 取消
		hr
		form#pdthdForm(method="post", action="/bnPdthdUpd", enctype="multipart/form-data")
			input(type="hidden", name="obj[_id]", value=pdthd._id)
			input#pdsecIpt(type="hidden", name="obj[pdsec]", value=pdthd.pdsec._id)
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="priceIpt") 价格
				.col-8.col-sm-10
					input#priceIpt.form-control(type="text", name="obj[price]", value=pdthd.price)
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="noteIpt") 备注
				input#noteData.form-control(type="hidden", value=pdthd.note)
				.col-8.col-sm-10
					textarea#noteIpt.form-control(type="text", rows="3", name="obj[note]", placeholder="备注")
			.form-group.row
				label.col-sm-2.col-form-label 材料
				each i in [0, 1, 2]
					- a;
					.col-sm-3
						input.form-control(type="text", name="obj[maters]["+i+"]", value=pdthd.maters[i])
			hr
			
			.form-group.row
				.col-12.text-right
					input.btn.btn-success(type="submit", value="提交")
	script(src="/js/user/bner/pdthd/edit.js")