extends ../../../aalayout/layout

block content
	.container
		.title.row
			.col-md-9
				a(href="/") Home
				span &nbsp; | &nbsp;
				a(href="/slQun/"+qunpd.inquot._id) 询价单
				span &nbsp; | &nbsp;
				span 更新询价商品
			.col-md-3.text-right
				if qunpd.inquot.status == Conf.status.init.num
					-a;
					a.btn.btn-danger(href="/slQunpdDel/"+qunpd._id) 删除此询价商品
				else if qunpd.inquot.status == Conf.status.quoting.num && qunpd.qntpdSts == Conf.status.del.num
					-a;
					a.btn.btn-danger(href="/slQunpdDel/"+qunpd._id) 删除此询价商品
		hr

		form#objectForm(method="post", action="/slQunpdUpd", enctype="multipart/form-data")
			input#inquotIpt(type="hidden", name="obj[_id]", value=qunpd._id)

			input(type="hidden", name="picDir", value=Conf.picPath.compd)
			input#picName(type="hidden", name="picName", value=crUser.firm.code)

			- let brand = new Object();
			if qunpd.brand
				- brand = qunpd.brand;
			.row.my-3
				.col-md-2.mt-3.text-right 品牌信息:
				.col-md-3.mt-3
					input.form-control#brandIpt(type="hidden", name="obj[brand]", readonly="readonly", value=brand._id)
					input.border-danger.form-control#brandNomeIpt(type="text", name="obj[brandNome]", autocomplete="off", placeholder="* 填写品牌名", value=qunpd.brandNome)
				.col-md-3.mt-3
					input.form-control#areaIpt(type="text", name="obj[area]", autocomplete="off", placeholder="区域: 卧室/客厅...", value=qunpd.area)
				.col-md-3.mt-3#brandweb
					if brand.website
						- let website = brand.website;
						if website && website.slice(0,4) != 'http'
							- website = 'http://'+website;
						.brandweb
							a(href=website target="_blank") #{brand.nome}官网
			input#brandFilterAjax(type="hidden", value="/usBrandsAjax?shelf=1&shelf=2@#brandsElem@sl")
			.ajax#brandsElem

			- let pdfir = new Object();
			if qunpd.pdfir
				- pdfir = qunpd.pdfir;
			.row.my-3
				.col-md-2.mt-3.text-right 系列信息:
				.col-md-3.mt-3
					input.border-danger.form-control#pdNomeIpt(type="text", name="obj[pdNome]", autocomplete="off", placeholder="品类: 桌子/椅子/床...", value=qunpd.pdNome)
				.col-md-3.mt-3
					input.form-control#pdfirIpt(type="hidden", name="obj[pdfir]", readonly="readonly", value=pdfir._id)
					input.border-danger.form-control#firNomeIpt(type="text", name="obj[firNome]", autocomplete="off", placeholder="* 系列名称", value=qunpd.firNome)
			input#pdfirFilterAjax(type="hidden", value="/usPdfirsAjax?@#pdfirsElem@sl")
			.ajax#pdfirsElem
			.row.my-3
				.col-md-2.mt-3.text-right 产品图片:
				.col-md-3.mt-4#firImg(align="center")
					if pdfir.photo && pdfir.photo.length > 0
						-a;
						.firImg.text-right
							img(src=pdfir.photo, width="120px")
							a(href=pdfir.photo, target="_blank") <span class="oi oi-magnifying-glass"></span>
				.col-md-3.mt-3(align="center")
					div 自定义:
					- let photo = "/imgs/createPicture.jpg";
					if qunpd.photo
						- photo = qunpd.photo;
					img.picImg#img-photo(src=photo, width="120px")
					input.picIpt#ipt-photo.btn.btn-info.btn-block(type="file", name="photo", style="display:none")

			- let pdsec = new Object();
			if qunpd.pdsec
				- pdsec = qunpd.pdsec;
			.row.my-3
				.col-md-2.mt-3.text-right 产品规格:
				.col-md-3.mt-3
					input.border-danger.form-control#specfIpt(type="text", name="obj[specf]", autocomplete="off", placeholder="* 尺寸: 长*宽*高", value=qunpd.specf)
				.col-md-3.mt-3
					input.form-control#pdsecIpt(type="hidden", name="obj[pdsec]", readonly="readonly", value=pdsec._id)
					input.border-info.form-control#secNomeIpt(type="text", name="obj[secNome]", autocomplete="off", placeholder="产品编号(如有)", value=qunpd.secNome)
			input#pdsecFilterAjax(type="hidden", value="/usPdsecsAjax?@#pdsecsElem@sl")
			.ajax#pdsecsElem
			.row.my-3
				.col-md-2.mt-3.text-right 线稿图:
				.col-md-3.mt-4#secImg(align="center")
					if pdsec.photo && pdsec.photo.length > 0
						-a;
						.firImg.text-right
							img(src=pdsec.photo, width="120px")
							a(href=pdsec.photo, target="_blank") <span class="oi oi-magnifying-glass"></span>
				.col-md-3.mt-3(align="center")
					div 自定义:
					- let sketch = "/imgs/createPicture.jpg";
					if qunpd.sketch
						- sketch = qunpd.sketch;
					img.picImg#img-sketch(src=sketch, width="120px")
					input.picIpt#ipt-sketch.btn.btn-info.btn-block(type="file", name="sketch", style="display:none")

			- let pdthd = new Object();
			if qunpd.pdthd
				- pdthd = qunpd.pdthd;
			.row.my-3
				.col-md-2.mt-3.text-right 材质工艺:
				.col-md-3.mt-3
					input.border-danger.form-control#materIpt(type="text", name="obj[mater]", autocomplete="off", placeholder="* 填写/材质", value=qunpd.mater)
				.col-md-3.mt-3
					input.border-danger.form-control#craftIpt(type="text", name="obj[craft]", autocomplete="off", placeholder="* 填写/工艺,面料,颜色", value=qunpd.craft)
				.col-md-3.mt-3
					input.form-control#pdthdIpt(type="hidden", name="obj[pdthd]", readonly="readonly", value=pdthd._id)
					input.border-info.form-control#thdNomeIpt(type="text", name="obj[thdNome]", autocomplete="off", placeholder="平台工艺搭配(帮助选项)", value=qunpd.thdNome)
			input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?@#pdthdsElem@qt")
			.ajax#pdthdsElem
			.row.my-3
				.col-md-2.mt-3.pt-5.text-right 材质图片:
				- let images = new Array();
				if qunpd.images
					- images = qunpd.images;
				.col-md-2.mt-3(align="center")
					- let images0 = "/imgs/createPicture.jpg";
					if images.length > 0 && images[0]
						- images0 = images[0];
					img.picImg#img-images0(src=images0, width="120px")
					input.picIpt#ipt-images0.btn.btn-info.btn-block(type="file", name="images[0]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images1 = "/imgs/createPicture.jpg";
					if images.length > 1 && images[1]
						- images1 = images[1];
					img.picImg#img-images1(src=images1, width="120px")
					input.picIpt#ipt-images1.btn.btn-info.btn-block(type="file", name="images[1]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images2 = "/imgs/createPicture.jpg";
					if images.length > 2 && images[2]
						- images2 = images[2];
					img.picImg#img-images2(src=images2, width="120px")
					input.picIpt#ipt-images2.btn.btn-info.btn-block(type="file", name="images[2]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images3 = "/imgs/createPicture.jpg";
					if images.length > 3 && images[3]
						- images3 = images[3];
					img.picImg#img-images3(src=images3, width="120px")
					input.picIpt#ipt-images3.btn.btn-info.btn-block(type="file", name="images[3]", style="display:none")

			.row.my-3
				.col-md-2.mt-3.text-right 备注:
				.col-md-10.mt-3
					input.form-control#noteIpt(type="text", name="obj[note]", autocomplete="off", placeholder="若面料工艺信息不全可备注为按高/中/低任一等级范围报价或提供其他关键询价信息", value=qunpd.note)
			.form-group.row.mt-5
				.col-12.text-right
					a.border.border-danger.mr-4.btn.btn-default.text-danger#qunpdsPageShow(href="/slQun/"+qunpd.inquot._id) 取消
					input.btn.btn-success(type="submit", value="保存修改")

	script(src="/js/user/sler/qunpd/edit.js")
	script(src="/js/dbs/compd/comGetPd.js")