.row.py-2.text-center.border
	.col-4.mt-3
		.cterNome &nbsp; 客户名字: 
			if qun.status == Conf.status.init.num
				-a;
				.text-info.inquotUpClick#cterNome-span #{qun.cterNome}
			else
				div #{qun.cterNome}
			form#cterNome-form(action="/slQunUpdAjax", style="display:none")
				input#cterNome-org(type="hidden", value=qun.cterNome)
				input(type="hidden", name="obj[_id]", value=qun._id)
				.form-group.row
					.col-12
						input.inquotUpIpt#cterNome-ipt.form-control(type="text", name="obj[cterNome]", placeholder="填写客户名字", autocomplete="off", value=qun.cterNome)
		.qun 
			span 询价人:
			if qun.quner
				- quner = qun.quner;
				span #{quner.nome} [ #{quner.code} ]
			else
				span 数据丢失
		.time
			span 询价时间: 
			span #{moment(qun.qunAt).format('DD/MM/YYYY HH:mm:ss')}
	.col-4
		h3.code #{qun.code}
		.text-info.inquotUpClick#qunNote-span 备注: #{qun.qunNote}
		form#qunNote-form(action="/slQunUpdAjax", style="display:none")
			input#qunNote-org(type="hidden", value=qun.qunNote)
			input(type="hidden", name="obj[_id]", value=qun._id)
			.form-group.row
				.col-12
					input.inquotUpIpt#qunNote-ipt.form-control(type="text", name="obj[qunNote]", placeholder="询价单备注", autocomplete="off", value=qun.qunNote)


	.col-4.mt-3
		if qun.status == Conf.status.done.num
			-a;
			h4 
				span 总价格: 
				span.text-info #{qun.price} €
		- let stsBg = 'bg-default';
		if qun.status == Conf.status.init.num
			- stsBg = 'bg-secondary';
		else if qun.status == Conf.status.done.num
			- stsBg = 'bg-info';
		else if qun.status == Conf.status.ord.num
			- stsBg = 'bg-success';
		else if qun.status == Conf.status.unord.num
			- stsBg = 'bg-danger';
		.status
			- let status = '';
			each sts in Conf.status
				- status = '';
				if sts.num == qun.status
					- status = sts.val;
					- break;
			span.p-2(class=stsBg) 状态: #{status}
		if qun.status == Conf.status.init.num
			-a;
			.statusChange.text-left.mt-2
				if qunpds && qunpds.length > 0
					- a;
					button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+qun._id+"-quoting", type="button", data-url="/usInquotStatusAjax", data-id=qun._id, data-stsf=qun.status, data-stst=Conf.status.quoting.num) 提交

			.edit.text-right
				a.btn.btn-warning(href="/slQunUp/"+qun._id) <span class="oi oi-pencil"></span>
		else if qun.status == Conf.status.done.num
			-a;
			.statusChange.row.mt-2
				.col-6.text-left
					a.btn.btn-success(href="/slDinGen/"+qun._id) 去生成订单
				.col-6.text-right
					button.btn.btn-danger.changeStsAjax(id="changeStsAjax-"+qun._id+"-unord", type="button", data-url="/usInquotStatusAjax", data-id=qun._id, data-stsf=qun.status, data-stst=Conf.status.unord.num, title="客户不需要") 无效询价

script(src="/js/user/ajaxChange/status.js")
script(src="/js/user/sler/qun/detail/basicUp.js")