.border.border-dark.p-3
	.row.py-2.mt-3.text-center
		.col-md-6
			h5.code 询价单号: #{qun.code}

			.time
				span 询价时间: 
				span #{moment(qun.qntcrtAt).format('DD/MM/YYYY')}
			.qun 
				span 询价人:
				if qun.quner
					- quner = qun.quner;
					span #{quner.nome} [ #{quner.code} ]
				else
					span 数据丢失
		.col-md-6
			.cterNome &nbsp; 客户姓名: 
				if qun.status == Conf.status.init.num
					-a;
					.text-info.inquotUpClick#cterNome-span #{qun.cterNome}
				else
					div #{qun.cterNome}
				form#cterNome-form(action="/slQunUpdAjax", style="display:none")
					input#cterNome-org(type="hidden", value=qun.cterNome)
					input(type="hidden", name="obj[_id]", value=qun._id)
					.form-group.row
						.col-12
							input.inquotUpIpt#cterNome-ipt.form-control(type="text", name="obj[cterNome]", placeholder="填写客户姓名", autocomplete="off", value=qun.cterNome)
			if qun.status == Conf.status.done.num
				-a;
				h4 
					span 总价格: 
					span.text-info #{qun.price} €
			.status.mt-3
				- let status = '';
				each sts in Conf.status
					- status = '';
					if sts.num == qun.status
						- status = sts.val;
						- break;
				span.p-2.text-danger 状态: #{status}
			.excel.text-right
				a(href="/slQunExcel/"+qun._id) Excel <span class="oi oi-data-transfer-download"></span>
	.statusChange.row.mt-3.text-center
		if qun.status == Conf.status.init.num
			-a;
			.col-6
				button.btn.btn-danger.delObjectBtn(type="button") 删除此询价单
				.delObject(style="display:none")
					a.mx-4.my-2.btn.btn-danger(href="/slQunDel/"+qun._id) 确定删除
					button.mx-4.my-2.delObjectCancel.border.border-danger.text-danger.btn.btn-default(type="button") 取消删除

			.col-6
				if qunpds && qunpds.length > 0
					- a;
					button.btn.btn-success.changeStsAjax(id="changeStsAjax-"+qun._id+"-quoting", type="button", data-url="/usInquotStatusAjax", data-id=qun._id, data-stsf=qun.status, data-stst=Conf.status.quoting.num) 提交

		else if qun.status == Conf.status.done.num
			-a;
			.col-6
				button.btn.btn-danger.changeStsAjax(id="changeStsAjax-"+qun._id+"-unord", type="button", data-url="/usInquotStatusAjax", data-id=qun._id, data-stsf=qun.status, data-stst=Conf.status.unord.num, title="客户不需要") 无效询价
			.col-6
				a.btn.btn-success(href="/slDinGen/"+qun._id) 去生成订单
script(src="/js/user/ajaxChange/status.js")
script(src="/js/user/sler/qun/detail/basicUp.js")