.row
	.col-12 品牌资源
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/ctBrands")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-lg.btn-block.text-dark(href="/ctBrands") 品牌
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/ctPdfirs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-lg.btn-block.text-dark(href="/ctPdfirs") 系列
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/ctPdsecs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-lg.btn-block.text-dark(href="/ctPdsecs") 线稿图
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/ctAlbums")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/ctAlbums") 产品图册