.row
	.col-12 管理部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/mgQuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/mgQuts") 报价单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/mgDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/mgDins") 销售订单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/mgDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/mgDuts") 采购订单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/mgBills")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/mgBills") 财务账单
.row
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/users")
			img.rounded-circle(src="/imgs/index/staff.jpg", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/users") 成员
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/usFirm")
			img.rounded-circle(src="/imgs/index/office.jpg", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/usFirm") 公司