.row.mt-5
	.col-12 推广部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/pmNotices")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/pmNotices") 新闻
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/pmProjects")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/pmProjects") 项目案例
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/pmStrmdws")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/pmStrmdws") 下游
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/pmSells")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			//- span Upload Excel
		a.btn.btn-default.btn-block.text-dark(href="/pmSells") 下游折扣