.row
	.col-12 资源报价部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/sfQuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/sfQuts") 报价单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/sfDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/sfDins") 订单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a(href="/sfDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
		a.btn.btn-default.btn-block.text-dark(href="/sfDuts") 采购单