table.mt-3.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th(style="width:10%") 备注
		th 数量价格
	thead
		- let quantTotal = 0;
		each qunpd in qunpds
			-a;
			tr.text-info(id="tr-compdid-"+qunpd._id)
				td
					if qunpd.brand
						- brand = qunpd.brand;
						.brandnome [#{brand.nome}]
					else
						.brandnome #{qunpd.brandNome}

					if qunpd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{qunpd.area}

					if qun.status == Conf.status.init.num || qun.status == Conf.status.quoting.num
							a-;
							a.btn.border-warning.text-warning.mt-5(href="/slQunpdUp/"+qunpd._id) 更改商品
				td
					.pdnome
						span.text-dark 品类: 
						span #{qunpd.pdNome}
					if qunpd.pdfir
						- pdfir = qunpd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if qunpd.firNome
							- firNome = qunpd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-3
						- let photo = "/imgs/createPicture.jpg";
						if qunpd.photo
							- photo = qunpd.photo;
							img(src=photo, width="120px")
							form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=qunpd._id)
								input(type="hidden", name="picField", value="photo")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qunpd.pdfir
							- photo = qunpd.pdfir.photo;
							img(src=photo, width="120px")
							.picLink
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img(src=photo, width="120px")
				td
					if qunpd.pdsec
						- pdsec = qunpd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{qunpd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{qunpd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if qunpd.sketch
							- sketch = qunpd.sketch;
							img#sketchCrt(src=sketch, width="120px")
							form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=qunpd._id)
								input(type="hidden", name="picField", value="sketch")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qunpd.pdsec
							-a;
							- sketch = qunpd.pdsec.photo;
							img#sketchCrt(src=sketch, width="120px")
							.picLink
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img#sketchCrt(src=sketch, width="120px")
				td
					- let pdthdcode = '查找数据库';
					if qunpd.pdthd
						- pdthdcode = '['+qunpd.pdthd.code+']';
					.pdthdcode #{pdthdcode}
					.pdmater.mt-3 #{qunpd.mater}
					.pdcraft.mt-3 #{qunpd.craft}
					.images
						- let subsp = -1;
						each image in qunpd.images
							- subsp++;
							if image && image.length > 5
								-a;
								img.mt-2(src=image, width="120px")
								form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
									input(type="hidden", name="compdId", value=qunpd._id)
									input(type="hidden", name="picField", value="images")
									input(type="hidden", name="subsp", value=subsp)
									button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
									a(href=image, target="_blank") <span class="oi oi-zoom-in"></span>
				td
					span #{qunpd.note}
				td
					input.statusInput(type="hidden", value=qunpd.qntpdSts)
					if qunpd.qntpdSts != Conf.status.del.num
						- quantTotal += qunpd.quant;
						.quant
							span.text-dark 数量: 
							span.text-warning.clickup(id="span-quant-"+qunpd._id) #{qunpd.quant}
							input(id="org-quant-"+qunpd._id, type="hidden", value=qunpd.quant)
							form(id="form-quant-"+qunpd._id, action="/slQunpdUpdAjax", style="display:none")
								input(type="hidden", name="obj[_id]", value=qunpd._id)
								.form-group.row
									.col-12
										input.blurup.form-control(id="ipt-quant-"+qunpd._id, type="number", name="obj[quant]", placeholder="采购价格", autocomplete="off", value=qunpd.quant)
							.text-danger(id="opt-quant-"+qunpd._id)

						.estimate.text-dark.mt-3
							if qunpd.estimate
								- a;
								span 预估单价: #{qunpd.estimate}
						if qun.status > Conf.status.quoting.num
							-a;
							.qntPr.mt-3
								span.text-dark 单价:
								if qunpd.qntPr && !isNaN(qunpd.qntPr)
									- a;
									span #{(qunpd.qntPr).toFixed(2)} €
								else
									span.text-dark  未报价

							h5.total.mt-2
								span.text-dark 总价:
								if qunpd.qntPr && !isNaN(qunpd.qntPr)
									-a;
									span(id="span-qntPrtot-"+qunpd._id) #{(qunpd.qntPr * qunpd.quant).toFixed(2)} €
								else
									span.text-dark  未报价
						.qunpdSts.mt-5
							- let status = '';
							each sts in Conf.status
								- status = '';
								if sts.num == qunpd.qntpdSts
									- status = sts.val;
									- break;
							span.text-dark 商品状态: 
							if qun.status > Conf.status.init.num
								-a;
								span.text-danger #{status}
							else
								span.text-danger 创建中
					else
						.del.text-danger
							div 无效商品
							.delNote.mt-3 #{qunpd.delNote}

.row
	.col-12.text-right
		input#ipt-quantTotal(type="hidden", value=quantTotal)
script(src="/js/user/sler/qunpd/soleup.js")