table.table.table-bordered
	thead.thead-dark
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th 数量价格
		th 备注状态
	thead
		each qunpd in qunpds
			- let status = '';
			each sts in Conf.status
				- status = '';
				if sts.num == qunpd.qntpdSts
					- status = sts.val;
					- break;
			tr.text-info
				td
					if qunpd.brand
						- brand = qunpd.brand;
						.brandnome [#{brand.nome}]
					else
						.brandnome #{qunpd.brandNome}

					if qunpd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{qunpd.area}

					if qun.status == Conf.status.init.num
							a-;
							a.btn.btn-info.mt-5(href="/slQunpd/"+qunpd._id) 查看详情
				td
					.pdnome
						span.text-dark 品类: 
						span #{qunpd.pdNome}
					if qunpd.pdfir
						- pdfir = qunpd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if qunpd.firNome
							- firNome = qunpd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-3
						- let photo = "/imgs/createPicture.jpg";
						if qunpd.photo
							- photo = qunpd.photo;
						else if qunpd.pdfir
							- photo = qunpd.pdfir.photo;
						img#photoCrt(src=photo, width="120px")
						.linkpic.text-info
							a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						if qun.status == Conf.status.init.num
							a-;
							form#photoForm(style="display:none", method="post", action="/slQunpdImg", enctype="multipart/form-data")
								input(type="hidden", name="obj[_id]", value=qunpd._id)
								input(type="hidden", name="picDir", value=Conf.picPath.compd)
								input(type="hidden", name="obj[picOld]", value=photo)
								input(type="hidden", name="picName", value=crUser.firm.code+'_'+qun.nome)
								input(type="hidden", name="obj[photo]", value=1)
								.form-group.udPhoto.row(style="display:none")
									.col-12
										label.col-form-label(for="photoUpload") pdImg
										input#photoUpload.btn.btn-info.btn-block(type="file", name="picUpload")
								.form-group.row
									.col-4
										a.btn.btn-secondary(href="/slQun/"+qun._id) 取消
									.col-8.text-right
										input.btn.btn-info(type="submit" value="更改图片")
				td
					if qunpd.pdsec
						- pdsec = qunpd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{qunpd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{qunpd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if qunpd.sketch
							- sketch = qunpd.sketch;
						else if qunpd.pdsec
							-a;
							- sketch = qunpd.pdsec.photo;
						img#sketchCrt(src=sketch, width="120px")
						.linkpic.text-info
							a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						if qun.status == Conf.status.init.num
							a-;
							form#sketchForm(style="display:none", method="post", action="/slQunpdImg", enctype="multipart/form-data")
								input(type="hidden", name="obj[_id]", value=qunpd._id)
								input(type="hidden", name="picDir", value=Conf.picPath.compd)
								input(type="hidden", name="obj[picOld]", value=sketch)
								input(type="hidden", name="picName", value=crUser.firm.code+'_'+qun.nome)
								input(type="hidden", name="obj[sketch]", value=1)
								.form-group.udPhoto.row(style="display:none")
									.col-12
										label.col-form-label(for="sketchUpload") pdImg
										input#sketchUpload.btn.btn-info.btn-block(type="file", name="picUpload")
								.form-group.row
									.col-4
										a.btn.btn-secondary(href="/slQun/"+qun._id) 取消
									.col-8.text-right
										input.btn.btn-info(type="submit" value="更改图片")
				td
					- let pdthdcode = '查找数据库';
					if qunpd.pdthd
						- pdthdcode = '['+qunpd.pdthd.code+']';
					.pdthdcode #{pdthdcode}
					.pdmater.mt-3 #{qunpd.mater}
					.pdcraft.mt-3 #{qunpd.craft}
					.images
						each image in qunpd.images
							-a;
							if image && image.length > 5
								-a;
								img.mt-2(src=image, width="120px")
								.linkpic.text-info
									a(href=image, target="_blank") <span class="oi oi-zoom-in"></span>
				td
					if qun.status < Conf.status.done.num
						-a;
						div(title="准确价格需要等待定价完成") 预估价格
					-let compd = qunpd;
					.quant 数量: #{compd.quant}
					- let unit = '';
					each ut in Conf.unit
						- unit = '';
						if ut.num == compd.unit
							- unit = ut.val;
							- break;

					if compd.price
						- price = compd.price;
						.price 单价: #{compd.price}#{unit}
					else
						.price.text-warning  未报价
					- let total = compd.quant * compd.price;
					if !isNaN(total)
						- total;
						h5.total.text-info 总价: #{total}#{unit}
				td
					div #{status}
					if qun.status > Conf.status.init.num
						-a;
						div 商品状态: #{status}

script(src="/js/user/sler/qun/detail/compdList.js")