- let quantTotal = 0;
- let qntPrImp = dinPrImp = 0;
.row
	.col-sm-3
		button.btn.btn-link.qntPrTdBtn(type="button") <span class="oi oi-eye"></span>
	.col-sm-3
		.quantTotal
			span 总条目: 
			span #{qunpds.length}
	.col-sm-6.text-right
		.quantTotal
			span 总数量: 
			span#span-quantTotal
table.mt-3.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th.qntPrTd(style="width:10%; display:") 平台报价
		th(style="width:18%") 客户成交价
	thead
		tr
			td.text-right(colspan=4) 总价值:
			td.qntPrTd.bg-dark.text-white(style="display:")
				h5
					span#span-qntPrImp
					span &nbsp;€
			td
				h5.text-info
					span#span-dinPrImp
					span &nbsp;€
		each qunpd in qunpds
			- let brandnum = '';
			each brand in brands
				if brand.brandNome == qunpd.brandNome
					- brandnum = brand.num;
			tr.text-info.pdTr(pdbrand=brandnum, pdSts=qunpd.qntpdSts, id="tr-compdid-"+qunpd._id)
				td
					span.border.p-1
						span.text-dark N. 
						- let qntnum = '-'
						if qunpd.qntnum
							- qntnum = qunpd.qntnum;
						span.text-warning.qntnumClickup(id="span-qntnum-"+qunpd._id) #{qntnum}
					.brandnome.mt-4
						if qunpd.brand
							- brand = qunpd.brand;
							span [#{brand.nome}]
						else
							span #{qunpd.brandNome}

					if qunpd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{qunpd.area}
				td
					.pdnome
						span.text-dark 品类: 
						span #{qunpd.pdNome}
					if qunpd.pdfir
						- pdfir = qunpd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if qunpd.firNome
							- firNome = qunpd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-3
						- let photo = "/imgs/createPicture.jpg";
						if qunpd.photo
							- photo = qunpd.photo;
							img.thumbnailImg(src=photo, width="120px")
							.picLink
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qunpd.firphoto
							- photo = qunpd.firphoto;
							img.thumbnailImg(src=photo, width="120px")
							.picLink.text-right
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img(src=photo, width="120px")
				td
					if qunpd.pdsec
						- pdsec = qunpd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{qunpd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{qunpd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if qunpd.sketch
							- sketch = qunpd.sketch;
							img.thumbnailImg(src=sketch, width="120px")
							.picLink
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qunpd.pdsec
							-a;
							- sketch = qunpd.pdsec.photo;
							img.thumbnailImg(src=sketch, width="120px")
							.picLink
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img(src=sketch, width="120px")
				td
					- let pdthdcode = '查找数据库';
					if qunpd.pdthd
						- pdthdcode = '['+qunpd.pdthd.code+']';
					.pdthdcode #{pdthdcode}
					.pdmater.mt-2 #{qunpd.mater}
					.pdcraft #{qunpd.craft}
					.images.row
						- let subsp = -1;
						each image in qunpd.images
							- subsp++;
							if image && image.length > 5
								-a;
								.col-6
									img.thumbnailImg.mt-2(src=image, width="120px")
									.picLink
										a(href=image, target="_blank") <span class="oi oi-zoom-in"></span>
				td.qntPrTd.bg-dark(style="display:")
					if qunpd.qntpdSts != Conf.status.del.num
						- let qntPrtot = qunpd.quant * qunpd.qntPr;
						- qntPrImp += qntPrtot;
						.qntPr.mt-3.text-white
							.qntPr
								span 单价:
								br
								span #{qunpd.qntPr}
								input(id="org-qntPr-"+qunpd._id, type="hidden", value=qunpd.qntPr)
							.qntPrTot.mt-3
								span 总价:
								br
								span(id="span-qntPrtot-"+qunpd._id) #{qntPrtot}
				td
					if qunpd.qntpdSts != Conf.status.del.num
						- quantTotal += qunpd.quant;
						if !isNaN(parseFloat(dinPrImp))
							-a;
							if qunpd.dinPr && !isNaN(parseFloat(qunpd.dinPr))
								- dinPrImp += qunpd.quant * qunpd.dinPr;
							else
								- dinPrImp = "未完成销售价";
						.quant
							span.text-dark 数量: 
							span.text-warning.quantClickup(id="span-quant-"+qunpd._id) #{qunpd.quant}
							input(id="org-quant-"+qunpd._id, type="hidden", value=qunpd.quant)
							if qun.status == Conf.status.confirm.num
								-a;
								form.ajaxForm(id="form-quant-"+qunpd._id, action="/slQunpdUpdAjax", style="display:none")
									input(type="hidden", name="obj[_id]", value=qunpd._id)
									.form-group.row
										.col-12
											input.quantBlurup.form-control(id="ipt-quant-"+qunpd._id, type="number", name="obj[quant]", placeholder="采购数量", autocomplete="off", value=qunpd.quant)
								.text-danger(id="opt-quant-"+qunpd._id)


						.dinPr.mt-3
							span.text-dark 单价: 
							if qunpd.dinPr
								-a;
								span.text-warning.dinPrClickup(id="span-dinPr-"+qunpd._id) #{qunpd.dinPr}
							else
								span.text-warning.dinPrClickup(id="span-dinPr-"+qunpd._id) 填写售价
							input(id="org-dinPr-"+qunpd._id, type="hidden", value=qunpd.dinPr)
							if qun.status == Conf.status.confirm.num
								-a;
								form.ajaxForm(id="form-dinPr-"+qunpd._id, action="/slQunpdUpdAjax", style="display:none")
									input(type="hidden", name="obj[_id]", value=qunpd._id)
									.form-group.row
										.col-12
											input.dinPrBlurup.form-control(id="ipt-dinPr-"+qunpd._id, type="text", name="obj[dinPr]", placeholder="采购价格", autocomplete="off", value=qunpd.dinPr)
								.text-danger(id="opt-dinPr-"+qunpd._id)
						.dinPrtot
							strong
								span.text-dark 总价: 
								span(id="span-dinPrtot-"+qunpd._id) #{qunpd.quant * qunpd.dinPr}
					else
						.del.text-danger
							div.text-center 删除原因:
							.delNote.mt-2 #{qunpd.delNote}
.hideImp
	input#ipt-quantTotal(type="hidden", value=quantTotal)
	input#ipt-qntPrImp(type="hidden", value=qntPrImp)
	input#ipt-dinPrImp(type="hidden", value=dinPrImp)

script(src="/js/user/sler/qunpd/soleup.js")