- let quantTotal = 0;

.row
	.col-md-6
		.quantTotal
			span 总条目: 
			span #{compds.length}
	.col-md-6.text-right
		.quantTotal
			span 总数量: 
			span#span-quantTotal
table.mt-2.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th(style="width:10%") 备注
		th(style="width:18%") 数量 | 价格(欧元)
	thead
		each compd in compds
			- let brandnum = '';
			each brand in brands
				if brand.brandNome == compd.brandNome
					- brandnum = brand.num;
			tr.text-info.pdTr(pdbrand=brandnum, pdSts=compd.qntpdSts, id="tr-compdid-"+compd._id)
				td
					span.border.p-1
						span.text-dark N. 
						- let qntnum = '-'
						if compd.qntnum
							- qntnum = compd.qntnum;
						span.text-warning.qntnumClickup(id="span-qntnum-"+compd._id) #{qntnum}
					input(id="org-qntnum-"+compd._id, type="hidden", value=compd.qntnum)
					form.ajaxForm(id="form-qntnum-"+compd._id, action="/slQunpdUpdAjax", style="display:none")
						input(type="hidden", name="obj[_id]", value=compd._id)
						.form-group.row
							.col-12
								input.qntnumBlurup.form-control(id="ipt-qntnum-"+compd._id, type="number", name="obj[qntnum]", placeholder="询价编号", autocomplete="off", value=compd.qntnum)
					.text-danger(id="opt-qntnum-"+compd._id)
					.brandnome.mt-3
						if compd.brand
							- brand = compd.brand;
							span [#{brand.nome}]
						else
							span #{compd.brandNome}

					if compd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{compd.area}

					if inquot.status == Conf.status.init.num || inquot.status == Conf.status.quoting.num
						a-;
						if compd.qntpdSts == Conf.status.quoting.num
							-a;
							a.btn.btn-info.mt-5(href="/slQunpdUp/"+compd._id) 更改商品
						else if compd.qntpdSts == Conf.status.del.num
							-a;
							a.btn.btn-danger.mt-5(href="/slQunpdUp/"+compd._id) 更改商品
				td
					.pdnome
						span.text-dark 品类: 
						span #{compd.pdNome}
					if compd.pdfir
						- pdfir = compd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if compd.firNome
							- firNome = compd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-2
						- let photo = "/imgs/createPicture.jpg";
						if compd.photo
							- photo = compd.photo;
							img.thumbnailImg(src=photo, width="120px")
							form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=compd._id)
								input(type="hidden", name="picField", value="photo")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
						else if compd.firphoto
							- photo = compd.firphoto;
							img.thumbnailImg(src=photo, width="120px")
						else
							img(src=photo, width="120px")
				td
					if compd.pdsec
						- pdsec = compd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{compd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{compd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if compd.sketch
							- sketch = compd.sketch;
							img.thumbnailImg(src=sketch, width="120px")
							form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=compd._id)
								input(type="hidden", name="picField", value="sketch")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
						else if compd.pdsec
							-a;
							- sketch = compd.pdsec.photo;
							img.thumbnailImg(src=sketch, width="120px")
						else
							img(src=sketch, width="120px")
				td
					- let pdthdcode = '查找数据库';
					if compd.pdthd
						- pdthdcode = '['+compd.pdthd.code+']';
					.pdthdcode #{pdthdcode}
					.pdmater.mt-2 #{compd.mater}
					.pdcraft #{compd.craft}
					.images.row
						- let subsp = -1;
						each image in compd.images
							- subsp++;
							if image && image.length > 5
								-a;
								.col-6
									img.thumbnailImg.mt-2(src=image, width="120px")
									form(method="post", action="/slQunpdDelPic", enctype="multipart/form-data")
										input(type="hidden", name="compdId", value=compd._id)
										input(type="hidden", name="picField", value="images")
										input(type="hidden", name="subsp", value=subsp)
										button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
					include ../../../../aaPlugin/compd/imagesUpd
				td
					span #{compd.note}
				td
					input.statusInput(type="hidden", value=compd.qntpdSts)
					if compd.qntpdSts != Conf.status.del.num
						- quantTotal += compd.quant;
						.quant
							span.text-dark 数量: 
							span.text-warning.quantClickup(id="span-quant-"+compd._id) #{compd.quant}
							input(id="org-quant-"+compd._id, type="hidden", value=compd.quant)
							form.ajaxForm(id="form-quant-"+compd._id, action="/slQunpdUpdAjax", style="display:none")
								input(type="hidden", name="obj[_id]", value=compd._id)
								.form-group.row
									.col-12
										input.quantBlurup.form-control(id="ipt-quant-"+compd._id, type="number", name="obj[quant]", placeholder="采购价格", autocomplete="off", value=compd.quant)
							.text-danger(id="opt-quant-"+compd._id)

						.estimate.text-dark.mt-3
							if compd.estimate
								- a;
								span 预估单价: #{compd.estimate}
						if inquot.status > Conf.status.quoting.num
							-a;
							.qntPr.mt-3
								span.text-dark 单价:
								if compd.qntPr && !isNaN(compd.qntPr)
									- a;
									span #{(compd.qntPr).toFixed(2)} €
								else
									span.text-dark  未报价

							h5.total.mt-2
								span.text-dark 总价:
								if compd.qntPr && !isNaN(compd.qntPr)
									-a;
									span(id="span-qntPrtot-"+compd._id) #{(compd.qntPr * compd.quant).toFixed(2)} €
								else
									span.text-dark  未报价
						.compdSts.mt-5
							- let status = '';
							each sts in Conf.status
								- status = '';
								if sts.num == compd.qntpdSts
									- status = sts.val;
									- break;
							span.text-dark 商品状态: 
							if inquot.status > Conf.status.init.num
								-a;
								span.text-danger #{status}
							else
								span.text-danger 创建中
					else
						.del.text-danger
							div.text-center 删除原因:
							.delNote.mt-2 #{compd.delNote}

.row
	.col-12.text-right
		input#ipt-quantTotal(type="hidden", value=quantTotal)
script(src="/js/user/sler/compd/soleup.js")