.row.py-2.text-center.border
	.col-4.mt-3
		h5 #{din.dateCd}#{din.code}
	.col-4.mt-3
		.cterDw 买家
		if din.cter
			- cter = din.cter;
			- nome = '';
			if din.cter.nome
				- nome = din.cter.nome;
			.cter &nbsp; 下游客户: #{nome} [#{cter.code}]
		else
			.cterNome 数据丢失

	.col-4.mt-3
		.dutFirm 卖家:
			if din.dutFirm
				- dutFirm = din.dutFirm;
				.dutFirm.text-success &nbsp; #{dutFirm.nome}
			else if din.nstrmup
				- nstrmup = din.nstrmup;
				.nstrmup &nbsp; #{nstrmup.nome}
			else
				.loss 数据丢失