- var i = -1;
each qunpd in qunpds
	- i++;
	-let compd = qunpd;
	if compd.shelf == 1
		- continue;
	- let price;
	if compd.price
		- price = compd.price;
	if isNaN(price)
		- continue;
	form.qunPdOrd(method="post", action="/bsDinOptpd", enctype="multipart/form-data")
		input(type="hidden", name="obj[inquotId]", value=qun._id)
		input(type="hidden", name="obj[compdId]", value=compd._id)
		input(type="hidden", name="obj[dinId]", value=din._id)
		.row.py-2.mt-2.text-center.border.qunpdCard
			- let nomeBg = 'bg-default';
			if qunpd.qntpdSts == Conf.status.done.num
				- nomeBg = 'bg-success';
			else if qunpd.qntpdSts == Conf.status.del.num
				- nomeBg = 'bg-danger';
			- let status = '';
			each sts in Conf.status
				- status = '';
				if sts.num == qunpd.qntpdSts
					- status = sts.val;
					- break;

			.col-4.col-md-2.mt-2(class="qunpd-"+qunpd._id)
				if qunpd.brand
					- brand = qunpd.brand;
					.text-dark [#{brand.nome}]
				else
					.text-muted #{qunpd.brandNome}
			.col-4.col-md-2.mt-2
				if qunpd.pdfir
					- pdfir = qunpd.pdfir;
					div [#{pdfir.code}]
					img(src=pdfir.photo, width="100%")
				else
					- let firNome = '产品系列名称';
					if qunpd.firNome
						- firNome = qunpd.firNome;
					.text-muted #{firNome}
					- let photo = "/imgs/createPicture.jpg";
					if qunpd.photo
						- photo = qunpd.photo;
					img#photoCrt(src=photo, width="100%")
			.col-4.col-md-2.mt-2
				if qunpd.pdsec
					- pdsec = qunpd.pdsec;
					div [#{pdsec.code}]
					img(src=pdsec.photo, width="100%")
				else
					- let secNome = '产品设计图';
					if qunpd.secNome
						- secNome = qunpd.secNome;
					.text-muted #{secNome}
					- let sketch = "/imgs/createPicture.jpg";
					if qunpd.sketch
						- sketch = qunpd.sketch;
					img#sketchCrt(src=sketch, width="100%")
			.col-4.col-md-4.mt-2.border-left.border-right
				.form-group.row
					label.col-4.col-form-label 数量
					.col-8
						input.quantIpt.form-control(id="quantIpt-"+compd._id, type="text", name="obj[quant]", value=compd.quant)
				- let unit = '';
				each ut in Conf.unit
					- unit = '';
					if ut.num == compd.unit
						- unit = ut.val;
						- break;

				.price 价格: #{price}#{unit}
				- let total = compd.quant * price;
				if !isNaN(total)
					- total;
					h5.total.text-info 总价: <span id="total-"+compd._id>#{total}</span>#{unit}
			.col-4.col-md-2.mt-2
				if qunpd.pdthd
					- pdthd = qunpd.pdthd;
					div [#{pdthd.code}]
				else
					.text-muted #{qunpd.thdNome}
				div(style="height:15px")
				//- div(class=nomeBg)
				//- 	span 商品状态: #{status}
				if qun.status == Conf.status.ord.num
					-a;
					div(style="height:15px")
					button.btn.btn-success(type="submit") 加入