.border.border-dark.p-3
	.row.text-center
		.col-md-6
			h5.code 询价单号: #{qut.code}
			.time
				span 询价时间: 
				span #{moment(qut.qntcrtAt).format('YYYY年MM月DD日')}
			.qut 
				span 询价人:
				if qut.quner
					- quner = qut.quner;
					span #{quner.nome} [ #{quner.code} ]
				else
					span 数据丢失
			.cterNome
				span 客户: #{qut.cterNome}
			.cter.text-warning
				if qut.cter
					- cter = qut.cter;
					span.text-info.inquotUpClick#cter-span #{cter.nome} [#{cter.code}]
				else
					span.text-info.inquotUpClick#cter-span 未分配
				form#cter-form(method="post", action="/mgQutUpd", enctype="multipart/form-data", style="display:none")
					input(type="hidden", name="obj[_id]", value=qut._id)
					.form-group.row.px-5.text-center
						.col-12
							select.inquotUpSel#qutNote-ipt.form-control(name="obj[cter]", data-style="btn-info")
								option(value='null') 请选择客户
								each cter in cters
									-a;
									if !qut.cter
										-a;
										option(value=cter._id) #{cter.nome}[#{cter.code}]
									else if String(cter._id) == String(qut.cter._id)
										-a;
										option(value=cter._id, selected="selected") #{cter.nome}[#{cter.code}]
									else
										option(value=cter._id) #{cter.nome}[#{cter.code}]
					.form-group.row
						.col-6
							button.inquotCancelClick#cter-cancel.btn.btn-secondary(type="button") 取消
						.col-6
							input.btn.btn-success(type="submit" value="提交")
		.col-md-6
			.quter
				div 报价人:
				if qut.status == Conf.status.quoting.num
					-a;
					if qut.quter
						- quter = qut.quter;
						button.btn.btn-default.text-info.inquotUpClick#quter-span #{quter.nome} [ #{quter.code} ]
					else
						button.btn.btn-default.text-info.inquotUpClick#quter-span 未分配
					form#quter-form(method="post", action="/mgQutUpd", enctype="multipart/form-data", style="display:none")
						input(type="hidden", name="obj[_id]", value=qut._id)
						.form-group.row.px-5.text-center
							.col-12
								select.inquotUpSel#quter-ipt.form-control(name="obj[quter]", data-style="btn-info")
									option(value='null') 请选择报价员
									each quter in quters
										-a;
										if !qut.quter
											-a;
											option(value=quter._id) #{quter.nome}[#{quter.code}]
										else if String(quter._id) == String(qut.quter._id)
											-a;
											option(value=quter._id, selected="selected") #{quter.nome}[#{quter.code}]
										else
											option(value=quter._id) #{quter.nome}[#{quter.code}]
						.form-group.row
							.col-6
								button.inquotCancelClick#quter-cancel.btn.btn-secondary(type="button") 取消
							.col-6
								input.btn.btn-success(type="submit" value="提交")
				else
					if qut.quter
						- quter = qut.quter;
						div #{quter.nome} [ #{quter.code} ]
					else
						div.text-warning 未分配
			.status.mt-3
				- let status = '';
				each sts in Conf.status
					- status = '';
					if sts.num == qut.status
						- status = sts.val;
						- break;
				span.p-2.text-danger 状态: #{status}
			.excel.text-right
				a(href="/slInquotExcel/"+qut._id) Excel <span class="oi oi-data-transfer-download"></span>
	.statusChange.text-center.row.mt-3
		if qut.status == Conf.status.quoting.num
			-a;
			.col-6
				button.mr-5.btn.border-danger.text-danger.changeStsAjax.initBtn(id="changeStsAjax-"+qut._id+"-pricing_init", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.init.num) 返回初始状态
		else if qut.status == Conf.status.pricing.num
			- a;
			.col-6
				button.mr-5.btn.border-danger.text-danger.changeStsAjax.quotingBtn(id="changeStsAjax-"+qut._id+"-pricing_quoting", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.quoting.num) 返回处理
			.col-6
				button.ml-5.btn.btn-warning.changeStsAjax.quotingBtn(id="changeStsAjax-"+qut._id+"-pricing_confirm", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.confirm.num) 完成
		else if qut.status == Conf.status.confirm.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+qut._id+"-confirm_pricing", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.pricing.num) 返回定价
			.col-6
		else if qut.status == Conf.status.pending.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+qut._id+"-pending_confirm", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.confirm.num) 返回确认状态
			.col-6
				a.btn.btn-success(href="/mgDinGen/"+qut._id) 去生成订单
		else if qut.status == Conf.status.unord.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+qut._id+"-unord_pricing", type="button", data-url="/usInquotStatusAjax", data-id=qut._id, data-stsf=qut.status, data-stst=Conf.status.pricing.num) 重新定价
			.col-6
if qut.status == Conf.status.pricing.num
	-a;
	.row.py-4.text-right
		.col-4.col-md-9 同步供应商:
		.col-8.col-md-3
			if qut.strmup
				- strmup = qut.strmup;
				button.btn.btn-default.inquotUpClick#strmup-span #{strmup.nome}
			else
				button.btn.btn-default.inquotUpClick#strmup-span 未分配
			form#strmup-form(method="post", action="/mgQutUpd", enctype="multipart/form-data", style="display:none")
				input(type="hidden", name="obj[_id]", value=qut._id)
				.form-group.row.text-center
					.col-12
						select.inquotUpSel#strmup-ipt.form-control(name="obj[strmup]", data-style="btn-info")
							option(value='null') 未分配:
							each strmup in strmups
								-a;
								if !qut.strmup
									-a;
									option(value=strmup._id) #{strmup.nome}
								else if String(strmup._id) == String(qut.strmup._id)
									-a;
									option(value=strmup._id, selected="selected") #{strmup.nome}
								else
									option(value=strmup._id) #{strmup.nome}
				.form-group.row
					.col-6.text-left
						button.inquotCancelClick#strmup-cancel.btn.btn-secondary(type="button") 取消
					.col-6
						input.btn.btn-success(type="submit" value="提交")
script(src="/js/user/ajaxChange/status.js")
script(src="/js/dbs/compd/total.js")
script(src="/js/user/mger/qut/detail.js")