.row.mt-3
	.col-sm-6
		.quantTotal
			span 总条目: 
			span #{qutpds.length}
	.col-sm-6.text-right
		.quantTotal
			span 总数量: 
			span#span-quantTotal
table.mt-3.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th(style="width:10%") 备注
		th(style="width:18%") 数量 | 价格(欧元)
	thead
		- let quantTotal = len = 0;
		each qutpd in qutpds
			- len++;
			tr.text-info
				td
					.number
						span.text-dark.border.p-2 N. #{len}
					.brandnome.mt-3
						if qutpd.brand
							- brand = qutpd.brand;
							span [#{brand.nome}]
						else
							span #{qutpd.brandNome}

					if qutpd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{qutpd.area}

					if qut.status == Conf.status.quoting.num
						if qutpd.qntpdSts == Conf.status.quoting.num
							a-;
							a.btn.border-success.text-success.mt-5(href="/qtQutpdUp/"+qutpd._id) 开始报价
						else
							a.btn.border-warning.text-warning.mt-5(href="/qtQutpdUp/"+qutpd._id) 更新报价
				td
					.pdnome
						span.text-dark 品类: 
						span #{qutpd.pdNome}
					if qutpd.pdfir
						- pdfir = qutpd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if qutpd.firNome
							- firNome = qutpd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-3
						- let photo = "/imgs/createPicture.jpg";
						if qutpd.photo
							- photo = qutpd.photo;
							img(src=photo, width="120px")
							form(method="post", action="/qtQutpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=qutpd._id)
								input(type="hidden", name="picField", value="photo")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qutpd.pdfir
							- photo = qutpd.pdfir.photo;
							img(src=photo, width="120px")
							.picLink
								a(href=photo, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img(src=photo, width="120px")
				td
					if qutpd.pdsec
						- pdsec = qutpd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{qutpd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{qutpd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if qutpd.sketch
							- sketch = qutpd.sketch;
							img#sketchCrt(src=sketch, width="120px")
							form(method="post", action="/qtQutpdDelPic", enctype="multipart/form-data")
								input(type="hidden", name="compdId", value=qutpd._id)
								input(type="hidden", name="picField", value="sketch")
								button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else if qutpd.pdsec
							-a;
							- sketch = qutpd.pdsec.photo;
							img#sketchCrt(src=sketch, width="120px")
							.picLink
								a(href=sketch, target="_blank") <span class="oi oi-zoom-in"></span>
						else
							img#sketchCrt(src=sketch, width="120px")
				td
					- let pdthdcode = '查找数据库';
					if qutpd.pdthd
						- pdthdcode = '['+qutpd.pdthd.code+']';
						.pdthdPrice.text-dark [原价: #{qutpd.pdthd.price}]
					.pdthdcode #{pdthdcode}
					.pdmater.mt-3 #{qutpd.mater}
					.pdcraft.mt-3 #{qutpd.craft}
					.images
						- let subsp = -1;
						each image in qutpd.images
							- subsp++;
							if image && image.length > 5
								-a;
								img.mt-2(src=image, width="120px")
								form(method="post", action="/qtQutpdDelPic", enctype="multipart/form-data")
									input(type="hidden", name="compdId", value=qutpd._id)
									input(type="hidden", name="picField", value="images")
									input(type="hidden", name="subsp", value=subsp)
									button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
									a(href=image, target="_blank") <span class="oi oi-zoom-in"></span>
				td
					span #{qutpd.note}
				td
					input.statusInput(type="hidden", value=qutpd.qntpdSts)
					if qutpd.qntpdSts != Conf.status.del.num
						- quantTotal += qutpd.quant;
						.quant
							span.text-dark 数量: 
							span #{qutpd.quant}

						.estimate.mt-3
							span.text-dark 预估单价:
							if qutpd.estimate
								- a;
								span.text-warning.clickup(id="span-estimate-"+qutpd._id) #{qutpd.estimate}
							else
								span.text-warning.clickup(id="span-estimate-"+qutpd._id) 未预估
							if qut.status == Conf.status.quoting.num
								-a;
								input(id="org-estimate-"+qutpd._id, type="hidden", value=qutpd.estimate)
								form(id="form-estimate-"+qutpd._id, action="/qtQutpdUpdAjax", style="display:none")
									input(type="hidden", name="obj[_id]", value=qutpd._id)
									.form-group.row
										.col-12
											input.blurup.form-control(id="ipt-estimate-"+qutpd._id, type="text", name="obj[estimate]", placeholder="预估单价可以是范围", autocomplete="off", value=qutpd.estimate)
					else 
						.delNote.text-danger #{qutpd.delNote}
					.qutpdSts.mt-5
						- let status = '';
						each sts in Conf.status
							- status = '';
							if sts.num == qutpd.qntpdSts
								- status = sts.val;
								- break;
						span.text-dark 商品状态: 
						if qut.status > Conf.status.init.num
							-a;
							span.text-danger #{status}
						else
							span.text-danger 创建中
.row
	.col-12.text-right
		input#ipt-quantTotal(type="hidden", value=quantTotal)
script(src="/js/user/qter/qutpd/soleup.js")